/* font & color styling */
body {
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
}
/* hero & footer */
.hero,
.footer {
    background-color: #1f2937;
} 

h1 {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
}

a,
.hero-text {
    font-size: 18px;
    color: #e5e7eb;
}

/* information section */
.information-section-header {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}

/* button & call to action section */
button {
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: 800;
}

.call-to-action-section {
    background-color: #3882f6 ;
}

/* quote section */
.quote-section {
    background-color: #e5e7eb;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.quote-author {
    font-size: 20px;
    font-weight: 700;
}

.call-to-action {
    color: #e5e7eb;
}

.footer {
    font-size: 20px;
    color: #e5e7eb;
}
/* alignment */
body {
    display: flex;
    flex-direction: column;
}

.hero {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 15px;
}

ul {
    display: flex;
    gap: 25px;
}

.placeholder-img {
    width: 600px;
    height: 295px;
}

.hero-section {
    display: flex;
    flex: 1;
    justify-content: center;
    gap: 100px;
    padding: 130px;
}

.hero-text {
    max-width: 450px;
    word-wrap: normal;
}

.hero-text button {
    padding: 7px 25px;
    border-radius: 10px;
    border: 0;
}

.information-section {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}

.information-section-header {
    padding: 50px;
}

.information-container {
    display: flex;
    justify-content: space-evenly;
    gap: 100px;
    padding-bottom: 90px;
}

.border-box {
    width: 170px;
    height: 170px;
    border: 3px solid #3882f6;
    border-radius: 15px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box p {
    width: 170px;
    text-align: center;
    text-wrap: wrap;
}

